body {
    background-color: rgb(252, 146, 146);
    color: white;
    font-family: "Instrument Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(212, 99, 128);
    color: white;
    font-family: "Instrument Serif", serif;
}