body {
    background-color: rgb(219, 101, 101);
    color: white;
    font-family: "Instrument Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(245, 85, 112);
}